@page
@model DontGuessAWordTwice.Pages.playerModel
@{
}

<head>
    <h1>DONT GUESS A WORD TWICE</h1>
    <title>DONT GUESS A WORD TWICE</title>
</head>
<body>
    <h1 id="plaingText "></h1>
    <h1 id = "round"></h1>
    <input type="button" value="PAINT"/>
   
    <div id="drawnImage">
       
    </div>
    <form>
        <label for="dontGuessThis">Word:</label>
        <input type="text" id="dontGuessThis"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="~\js\site.js"/>/script>