@page
@model DontGuessAWordTwice.Pages.Shared.playersInServerModel
@{
}
<head>
    <h1>DONT GUESS A WORD TWICE</h1>
    <title>DONT GUESS A WORD TWICE</title>
</head>
<body>
    <h1 id="serverCode"></h1>
    <dv id="playerAttenting"></dv>

    <input type="button" value="START"/>
     <input type="button" value="EXIT"/>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="~\js\site.js"/>/script>